# Swap files
*.swp
*.*~

# Lock files
project.lock.json
.DS_Store

# Python cache files
*.pyc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.sln.ide

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*/obj/
*/bin/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio cache
.vs/
.vscode/

# File security
*.key
*.pfx
*.cer
*.publishsettings

# Temporary resources
*.tmp
*.temp
*.log

# File for folder NuGet
packages/

# Binary files
*.dll
*.exe
*.pdb
