@page
@model LoginModel
@{
    Layout = "/Pages/Users/Shared/_LayoutUser.cshtml"; 
    ViewBag.Title = "Login";
}
@section head {
    <script>
        window.onload = function () {
            var seconds = 5;
            setTimeout(function () {
                document.getElementById("lblMsg").style.display = "none";
            }, seconds * 1000);
        };
    </script>
}

<body class="login-page">
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <div class="align-self-end">
                <span id="lblMsg" class="text-danger">@Model.Message</span> <!-- Thay lblMsg bằng Razor -->
            </div>
            <h2>Login</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <img id="userLogin" src="~/TemplateFiles/images/login.jpg" alt="" class="img-thumbnail" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post">
                        <div class="form-group">
                            <input asp-for="Username" class="form-control" placeholder="Enter Username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Enter Password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="btn_box">
                            <button type="submit" class="btn btn-success rounded-pill pl-4 pr-4 text-white">Login</button>
                            <span class="pl-3 text-info">New User? <a href="/Users/Registration" class="badge badge-info">Register Here..</a></span>
                                <span class="pl-3 text-info"> <a href="/Users/ForgotPassword" class="badge badge-info">Forgot Password..</a></span>
                        </div>
                            
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/TemplateFiles/js/custom.js"></script>
}