@page
@model Food.Pages.Users.AccessDeniedModel
@{
    Layout = "/Pages/Users/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>
<p>You do not have permission to view this page.</p>
